[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "effectcheck"]
	path = effectcheck
	url = https://github.com/giladfeldman/escicheck
	subdir = effectcheck
